.auto-complete {
  position: relative;
}

.suggestion-list {
  list-style: none;
  padding: 5px;
  white-space: nowrap;
  position: absolute;
  background: $neu-light-bg;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: $auto-complete-border-width solid $auto-complete-border-color;
  box-shadow: $auto-complete-box-shadow;
  width: 100%;
  @include neufactory($neu-light-bg);
  .loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $loading-icon-min-height;
  }
  .suggestion-item {
    cursor: pointer;
    padding: $suggestion-item-padding-y $suggestion-item-padding-x;
    margin: 0;
    &.been-actived {
      background: $neu-light-bg;
      color: $primary;
    }
    &:hover {
      color: $primary;
      @include neufactory-inset($neu-light-bg);
    }
  }
}
