.btn {
  position: relative;
  display: inline-block;
  width: fit-content;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  color: $body-color;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  cursor: pointer;
  @include button-size(
    $btn-padding-x,
    $btn-padding-y,
    $btn-font-size,
    $btn-border-radius
  );
  @include neufactory-hover($neu-light-bg);
  @include neufactory($neu-light-bg);
  @include neufactory-active($neu-light-bg);
  transition: $btn-transition;
  -webkit-tap-highlight-color: transparent !important;
  border: none;
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    color: $btn-disabled-color;
    pointer-events: none;
    > * {
      pointer-events: none;
    }
  }
}

.btn-lg {
  @include button-size(
    $btn-padding-x-lg,
    $btn-padding-y-lg,
    $btn-font-size-lg,
    $btn-border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-x-sm,
    $btn-padding-y-sm,
    $btn-font-size-sm,
    $btn-border-radius-sm
  );
}

.btn-primary {
  color: $primary;
}
.btn-primary.colored {
  @include neufactory-hover($primary);
  @include neufactory($primary);
  @include neufactory-active($primary);
  @include colored($primary);
}

.btn-danger {
  color: $danger;
}
.btn-danger.colored {
  @include neufactory-hover($danger);
  @include neufactory($danger);
  @include neufactory-active($danger);
  @include colored($danger);
}

.btn-link {
  font-weight: $font-weight-normal;
  color: $btn-link-color;
  text-decoration: underline;
  box-shadow: none;
  background: none;
  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
    background: none;
  }
  &:focus,
  &.focus {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }
  &:disabled,
  &.disabled {
    color: $btn-disabled-color;
    pointer-events: none;
  }
}
