.menu {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding-left: 0;
	@include menu-border-style($menu-border-width, $menu-border-color, 0, transparent);
	box-shadow: $menu-box-shadow;
	transition: $menu-transition;

	.submenu-item {
		.submenu {
			display: none;
			flex-direction: column;
			list-style: none;
			flex-wrap: wrap;
			padding-left: 0;
			transition: $menu-transition;
			background: $body-bg;
			white-space: nowrap;

			.menu-item {
				color: $body-color;
				border: none;
				&.been-actived,
				&:hover {
					color: $menu-item-active-color;
					border: none;
				}
			}
		}
		.submenu.submenu-open {
			display: flex;
		}
	}
	.menu-item {
		padding: $menu-item-padding-y $menu-item-padding-x;
		cursor: pointer;
		transition: $menu-transition;
		@include menu-border-style($menu-item-active-border-width, transparent, 0, transparent);
		&:hover,
		&:focus {
			text-decoration: none;
		}
		&.been-actived,
		&:hover {
			color: $menu-item-active-color;
			@include menu-border-style($menu-item-active-border-width, $menu-item-active-color, 0, transparent);
		}
		&.been-disabled {
			cursor: default;
			pointer-events: none;
			border: none;
			color: $menu-item-disabled-color;
		}
	}
}
.menu-horizontal {
	.submenu-item {
		position: relative;
		.submenu {
			position: absolute;
			left: 0;
			top: calc(100% + 8px);
			z-index: 100;
			border: $menu-border-width solid $menu-border-color;
			box-shadow: $submenu-box-shadow;
		}
	}
}
.menu-vertical {
	flex-direction: column;
	@include menu-border-style(0, transparent, $menu-border-width, $menu-border-color);
	.menu-item {
		@include menu-border-style(0, transparent, $menu-item-active-border-width, transparent);
		&.been-actived,
		&:hover {
			@include menu-border-style(0, transparent, $menu-item-active-border-width, $menu-item-active-color);
		}
	}
}
