.tabs {
  position: relative;
  .tabs-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    .tab-item {
      cursor: pointer;
      padding: $tab-item-padding-y $tab-item-padding-x;
      &:hover,
      .been-actived {
        color: $tab-item-active-color;
      }

      &.been-disabled {
        color: $tab-item-disabled-color;
        cursor: default;
        pointer-events: none;
      }
    }
  }
  .tabs-nav.nav-line {
    .tab-item {
      margin: 0;
      &:hover,
      &.been-actived {
        color: $tab-item-active-color;
      }

      &.been-disabled {
        border-bottom: $tab-item-active-border-width solid transparent;
      }
    }
  }
  .tabs-nav.nav-card {
    .tab-item {
      margin: 0;
      position: relative;
      bottom: -$tab-item-card-width;
      border: $tab-item-card-width solid transparent;
      &.been-actived {
        border-width: $tab-item-card-width;
        @include neufactory-inset($neu-light-bg);
        border-radius: $tab-item-active-border-radius
          $tab-item-active-border-radius 0 0;
      }
      &.been-disabled {
        border-bottom: $tab-item-card-width solid transparent;
      }
    }
  }
  .underline {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: $tab-item-active-color;
    transition: left 0.2s, width 0.2s;
    transform: translateY(-100%);
  }

  .tabs-content {
    .tabs-content-item {
      padding: $tab-item-padding-y 0;

      display: none;
      &.been-actived {
        display: block;
      }
    }
  }
}
