@mixin button-size($padding-x, $padding-y, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  border-radius: $border-radius;
  font-size: $font-size;
}

@mixin alert-style($background, $border) {
  background-color: $background;
  border-color: $border;
}

@mixin menu-border-style(
  $border-bottom-width,
  $border-bottom-color,
  $border-left-width,
  $border-left-color
) {
  border-bottom: $border-bottom-width solid $border-bottom-color;
  border-left: $border-left-width solid $border-left-color;
}

@mixin zoom-animation(
  $direction: "top",
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  .zoom-in-#{$direction}-enter,
  .zoom-in-#{$direction}-appear {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active,
  .zoom-in-#{$direction}-appear-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}

@mixin neufactory(
  $background: $neu-light-bg,
  $background-light: scale-color($background, $lightness: 85%),
  $background-dark: scale-color($background, $lightness: -15%)
) {
  outline: none;
  border: none;
  background: $background;
  border: none;
  box-shadow: $neu-shadow-normal $neu-shadow-normal $neu-shadow-normal * 2
      $background-dark,
    (-$neu-shadow-normal) (-$neu-shadow-normal) $neu-shadow-normal * 2
      $background-light;
  transition: box-shadow 0.15s ease-in-out;

  &:focus,
  .focus {
    outline: none;
  }
}

@mixin neufactory-inset(
  $background: $neu-light-bg,
  $background-light: scale-color($background, $lightness: 85%),
  $background-dark: scale-color($background, $lightness: -15%)
) {
  outline: none;
  border: none;
  box-shadow: inset $neu-shadow-normal $neu-shadow-normal $neu-shadow-normal * 2
      $background-dark,
    inset (-$neu-shadow-normal) (-$neu-shadow-normal) $neu-shadow-normal * 2
      $background-light;
  transition: box-shadow 0.15s ease-in-out;
}

@mixin neufactory-inset-hover(
  $background: $neu-light-bg,
  $background-light: scale-color($background, $lightness: 85%),
  $background-dark: scale-color($background, $lightness: -15%)
) {
  &:hover {
    box-shadow: inset $neu-shadow-hover $neu-shadow-hover $neu-shadow-hover * 2
        $background-dark,
      inset (-$neu-shadow-hover) (-$neu-shadow-hover) $neu-shadow-hover * 2
        $background-light;
  }
  transition: box-shadow 0.15s ease-in-out;
}

@mixin neufactory-inset-active(
  $background: $neu-light-bg,
  $background-light: scale-color($background, $lightness: 85%),
  $background-dark: scale-color($background, $lightness: -15%)
) {
  &:active {
    box-shadow: inset $neu-shadow-hover $neu-shadow-hover $neu-shadow-hover * 2
        $background-dark,
      inset (-$neu-shadow-hover) (-$neu-shadow-hover) $neu-shadow-hover * 2
        $background-light;
  }
  transition: box-shadow 0.15s ease-in-out;
}

@mixin neufactory-active(
  $background: $neu-light-bg,
  $background-light: scale-color($background, $lightness: 85%),
  $background-dark: scale-color($background, $lightness: -15%)
) {
  &:active {
    box-shadow: inset $neu-shadow-normal $neu-shadow-normal $neu-shadow-normal *
        2 $background-dark,
      inset (-$neu-shadow-normal) (-$neu-shadow-normal) $neu-shadow-normal * 2
        $background-light;
    transition: box-shadow 0.15s ease-in-out;
  }
}

@mixin neufactory-hover(
  $background: $neu-light-bg,
  $background-light: scale-color($background, $lightness: 85%),
  $background-dark: scale-color($background, $lightness: -15%)
) {
  &:hover {
    box-shadow: $neu-shadow-hover $neu-shadow-hover $neu-shadow-hover * 2
        $background-dark,
      (-$neu-shadow-hover) (-$neu-shadow-hover) $neu-shadow-hover * 2
        $background-light;
    transition: box-shadow 0.15s ease-in-out;
  }
}

@mixin colored(
  $background: $neu-light-bg,
  $background-light: scale-color($background, $lightness: 15%),
  $background-dark: scale-color($background, $lightness: -50%)
) {
  color: white;
  &:active {
    box-shadow: inset $neu-shadow-normal $neu-shadow-normal $neu-shadow-normal *
        2 $background-dark,
      inset (-$neu-shadow-normal) (-$neu-shadow-normal) $neu-shadow-normal * 2
        $background-light;
  }
}
