.progress-bar {
  width: 100%;
  box-sizing: border-box;
  border-radius: $progress-border-radius;
  background-color: $white;
  .progress-bar-inner {
    border-radius: $progress-border-radius;
    transition: $progress-bar-transition;
    line-height: 1;
  }
}
@each $key, $val in $theme-list {
  .progress-#{$key} {
    background-color: scale-color($color: $val, $lightness: 80%);
    .progress-bar-inner {
      background-color: $val;
      @include neufactory($val);
      @include colored($val);
    }
  }
}
