.progress-bar {
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
  padding: 4px;
  @include neufactory-inset();
  .progress-bar-inner {
    transition: $progress-bar-transition;
    border-radius: inherit;
    line-height: 1;
  }
}
@each $key, $val in $theme-list {
  .progress-#{$key} {
    background-color: scale-color($color: $val, $lightness: 80%);
    .progress-bar-inner {
      background-color: $val;
      @include colored($val);
    }
  }
}
